@import url("https://fonts.googleapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&display=swap");

:root {
  --warning: #ffc26f !important;
  --info: #ba6476 !important;
  --secondary: #c38154 !important;
  --dark: #333 !important;
  --dark_opacity: rgba(0, 0, 0, 0.25);
  --white: #fff !important;
  --grey: #787276 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.fade-in {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut 0.5s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.navbar {
  background: var(--dark);
  margin: 0;
}

.navbar .container {
  padding-left: 4rem !important;
}

.logo {
  color: var(--white);
  font-size: 2em !important;
  font-weight: 700;
}

.logo:hover {
  color: var(--white);
}

.nav-link {
  color: var(--white);
  font-weight: 500;
  padding-left: 1.1rem !important;
  padding-right: 1.2rem !important;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.nav-link:hover:not(.logo) {
  color: var(--grey);
}

.navbar-nav .nav-link.active {
  color: var(--warning);
}

.dropdown-menu {
  background: var(--dark);
}

.dropdown-item {
  color: var(--white);
}

.dropdown-item:hover {
  background-color: var(--dark);
  color: var(--warning);
}

section {
  width: 100%;
  min-height: 90vh;
  background: var(--warning);
  transition: 0.5s ease-in-out;
}

section .row {
  min-height: 90vh;
}

.tabs input {
  visibility: hidden;
  display: none;
}

.buttons {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 1000;
}

.buttons label {
  width: 20px;
  height: 20px;
  background: var(--dark);
  opacity: 0.5;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.tabs input:nth-child(1):checked ~ .buttons label:nth-child(1),
.tabs input:nth-child(2):checked ~ .buttons label:nth-child(2),
.tabs input:nth-child(3):checked ~ .buttons label:nth-child(3) {
  opacity: 1;
  width: 40px;
}

.slide {
  display: none;
}

.title {
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--dark_opacity);
}

.badge {
  background: var(--dark_opacity);
  font-size: 0.15em;
  color: var(--warning);
}

.description {
  font-size: 1em;
  color: var(--white);
}

.btn-dark {
  --bs-btn-color: var(--warning);
  --bs-btn-bg: var(--dark);
  --bs-btn-hover-color: var(--warning);
  --bs-btn-hover-bg: var(--dark_opacity);
  --bs-btn-active-color: var(--warning);
  --bs-btn-active-bg: var(--dark_opacity);
  --bs-btn-active-border-color: var(--dark_opacity);
  border-radius: 30px;
  border: none;
}

.btn-light {
  --bs-btn-color: var(--info);
  --bs-btn-bg: var(--dark);
  --bs-btn-hover-color: var(--info);
  --bs-btn-hover-bg: var(--dark_opacity);
  --bs-btn-active-color: var(--info);
  --bs-btn-active-bg: var(--dark_opacity);
  --bs-btn-active-border-color: var(--dark_opacity);
  border-radius: 30px;
  border: none;
}

.btn-secondary {
  --bs-btn-color: var(--secondary);
  --bs-btn-bg: var(--dark);
  --bs-btn-hover-color: var(--secondary);
  --bs-btn-hover-bg: var(--dark_opacity);
  --bs-btn-active-color: var(--secondary);
  --bs-btn-active-bg: var(--dark_opacity);
  --bs-btn-active-border-color: var(--dark_opacity);
  border-radius: 30px;
  border: none;
}

.img {
  width: 150px;
  object-fit: cover;
  filter: drop-shadow(18px 20px 15px #303030);
  -webkit-box-reflect: below -80px linear-gradient(transparent, transparent, #0002);
  transition: 0.3s ease-in-out;
}

.img_2 {
  width: 150px;
  height: 80%;
  object-fit: cover;
  -webkit-box-reflect: below -20px linear-gradient(transparent, transparent, #0002);
  transition: 0.3s ease-in-out;
  filter: drop-shadow(18px 20px 15px #303030);
  position: relative;
}

.img_3 {
  width: 150px;
  height: 80%;
  object-fit: cover;
  -webkit-box-reflect: below -10px linear-gradient(transparent, transparent, #0002);
  transition: 0.3s ease-in-out;
  filter: drop-shadow(18px 20px 15px #303030);
}

.carousel .img:hover,
.carousel .img_2:hover,
.carousel .img_3:hover {
  transform: scale(1.4) rotate(25deg);
  -webkit-box-reflect: below 0px linear-gradient(transparent, transparent);
  filter: drop-shadow(40px 40px 15px #303030);
}

.footer {
  background: var(--dark);
  color: var(--white);
  position: absolute;
  right: 0;
  width: 100%;
}

.footer-text {
  color: var(--warning);
  transition: 0.5s ease-in-out;
}

.footer-title {
  font-size: 2.2em;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--warning);
}

.footer-section {
  border-right: 2px solid var(--grey);
}

.form-control {
  border-radius: 50px 0px 0px 50px;
}

.btn-send {
  background-color: var(--dark_opacity);
  border: 2px solid transparent;
  border-radius: 0px 50px 50px 0px;
}

.btn-send:hover {
  background-color: var(--dark_opacity);
}

.fa-paper-plane {
  color: var(--warning);
}

.fab {
  font-size: 1.8em;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: var(--warning);
}

.fab:hover {
  transform: scale(1.1);
}

.footer-section p {
  color: var(--white);
}

.footer-link {
  color: var(--white);
  text-decoration: none;
  padding-bottom: 8px;
}

.footer-link:hover {
  color: var(--grey);
  cursor: pointer;
}
